# Gradle
.gradle/
**/build/

# Java build artifacts
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
!gradle/wrapper/gradle-wrapper.jar

# Logs
*.log

# IDEs and editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db
desktop.ini
